<!doctype = "html">
<html lang="en">

<head>
  <link rel="stylesheet" href="launchlines.css"></link>
  <link rel="stylesheet" type="text/css" href="../nav.css">
</head>

<!-- Student Stage -->
<body>

<div class="header">
    <div class="header-item" style="display:flex;flex-direction:row;">
      <img src="../images/logoNav.png" class="logo"/>
      <a style="padding-left:2%;" href="../">launchline</a>
    </div>
  <div class="header-item">
    <a style="font-size:18px;" href="/profile">Profile &nbsp|</a>
    <a style="font-size:18px;" href="/logout">Log Out</a>
  </div>
</div>

{{#if stage_one}}
    <div class="flex-grid">
    {{#each card_content}}
      <div style = "background-image: url({{this.img}})" class="card" class="col">
        <div class="text">  <p class = "title text"> {{this.title}}</p>
          <!-- <p class = "img"> <img src={{this.img}}></img></p> -->
          <p class = "description"> {{this.description}}</p>
        </div>
      </div>
    {{/each}}
    </div>
{{/if}}

<!-- Graduate Stage -->

{{#if stage_two}}
<h1> Companies Near You </h1>

<div class="flex-grid-company">
{{#each company_content}}
  <div class="company" class="col2">
    <div class = "company-data">
      <p class = "companyName"> {{this.companyName}}</p>
      <p class = "companyLocation"> {{this.companyLocation}}</p>
      <p class = "website"> {{this.website}}</p>
    </div>
  </div>
{{/each}}
</div>

<h2> Events </h2>

<div class="flex-grid2">
{{#each event_content}}
  <div class="events" class="col3">
    <div class = "event">
      <p class = "name"> {{this.name}}</p>
      <p class = "location"> {{this.location}}</p>
      <p class = "date"> {{this.date}}</p>
      <p class = "time"> {{this.time}}</p>
    </div>
  </div>
{{/each}}
</div>
{{/if}}


<!-- Employed Stage -->
{{#if stage_three}}
<h3> Community Events </h3>

<div class="flex-grid3">
{{#each employed_content}}
  <div class="employed" class="col4">
    <div class = "community">
      <p class = "eventname"> {{this.name}}</p>
      <p class = "location"> {{this.location}}</p>
      <p class = "date"> {{this.date}}</p>
      <p class = "time"> {{this.time}}</p>
    </div>
  </div>
{{/each}}
</div>
{{/if}}

</body>
</html>
